<div class="container">
  <h1><%= @cocktail.name %></h1>
  <hr>
  <div class="d-flex justify-content-around">
    <div>
      <%= image_tag "negroni.jpg", class: "show-img" %>
    </div>

    <div>
      <div>
        <h4>List of Ingredients</h4>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li>
              <div class="d-flex justify-content-between">
                <%= dose.ingredient.name %>: <%= dose.description %>
                  <%= link_to cocktail_dose_path(@cocktail.id, dose), method: :delete do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
        <hr>
        <p class="dose-btn"><%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %></p>
      </div>
      <br>
      <br>

      <div>
        <h5>How to proceed</h5>
        <p>1. Add the ingredients together in a cocktail shaker.</p>
        <p>2. Shake well with cracked ice.</p>
        <p>3. Strain into a glass over cubed ice.</p>
        <p>4. Garnish with a twist of orange peel.</p>
      </div>
    </div>
  </div>

  <div>
    <%= link_to cocktail_path(@cocktail.id), method: :delete do %>
      <p class="btn btn-danger"><i class="fas fa-trash"></i>   Delete <%= @cocktail.name %></p>
    <% end %>
  </div>


  <div>
    <i class="fas fa-chevron-double-left"></i>
    <%= link_to "Go back", root_path %>
  </div>
</div>

