<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    </div>
  </div>


  <h1><%= @cocktail.name %></h1>
  <hr>
  <div class="d-flex justify-content-around">
    <div>
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    </div>

    <div>
      <div>
        <div>
          <h4>List of Ingredients</h4>
          <ul>
            <% @cocktail.doses.each do |dose| %>
              <li>
                <div class="d-flex justify-content-between">
                  <%= dose.ingredient.name %>: <%= dose.description %>
                    <%= link_to cocktail_dose_path(@cocktail.id, dose), method: :delete do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

        <hr>
        <div>
          <!-- Button -->
          <a class="show-button pos-center" data-toggle="modal" data-target="#exampleModal">
            Add dose
          </a>
        </div>
      </div>
      <br>
      <br>

      <div>
        <h5>How to proceed</h5>
        <p>1. Add the ingredients together in a cocktail shaker.</p>
        <p>2. Shake well with cracked ice.</p>
        <p>3. Strain into a glass over cubed ice.</p>
        <p>4. Garnish with a twist of orange peel.</p>
      </div>
    </div>
  </div>

  <div>
    <%= link_to cocktail_path(@cocktail.id), method: :delete, data: { confirm: "Are you sure?"} do %>
      <p class="delete-button"><i class="fas fa-trash"></i>   Delete <%= @cocktail.name %></p>
    <% end %>
  </div>


  <div class="back-button">
    <%= link_to root_path do %>
      <p><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>   Go Back </p>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new dose</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.hidden_field :cocktail_id, :value => @cocktail.id %>
        <div class="modal-footer">
          <%= f.button :submit, class: "show-button" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
